.App{
  display: flex;
  flex-wrap: wrap;
}
button{
  display: flex;
  background: turquoise;
  border: 1px solid peru;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
  display:flex;
  height: 20vh;
  width: 18vw;
}